h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.header {
  margin: 3rem auto;
  margin-top: 5%;
  font-weight: 600;
  font-size: 18px;
  color: #424874;
  text-align: left;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  letter-spacing: 0px;
}

input {
  border-color: none;
  border-style: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: #424874;
}

.text {
  text-align: center;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  letter-spacing: 0;
}

.register {
  margin: 1rem auto;
  font-weight: 300;
  font-size: 16px;
  color: #717387;
  text-align: center;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.Button {
  align-items: center;
  appearance: none;
  border-radius: 10px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0 2px 2px 0,
    rgba(0, 0, 0, 0.12) 0 1px 5px 0;
  box-sizing: border-box;
  color: #fff;
  background-color: #424874;
  cursor: pointer;
  display: inline-flex;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  letter-spacing: 0.0892857em;
  line-height: normal;
  max-width: 200px;
  outline: none;
  overflow: visible;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  will-change: transform, opacity;
}

.Button:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px -1px, rgba(0, 0, 0, 0.14) 0 4px 5px 0,
    rgba(0, 0, 0, 0.12) 0 1px 10px 0;
  color: #a6b1e1;
  background-color: #424874;
}

.wrapper {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.searchbar {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1rem;
  width: 100%;
  margin-left: 5px;
}

.searchbar:focus {
  outline: none;
}

.field {
  margin-right: 20%;
  margin-left: 20%;
}
