.overall {
  display: grid;
}

.container1 {
  display: grid;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  /* background: #fff; */
  background: linear-gradient(90deg, rgb(211, 191, 229), rgb(201, 213, 241));
  text-align: center;
  padding: 30px 20px;
  margin-top: 24px;
  margin-left: 5%;
  margin-right: 10%;
  min-width: 540px;
  max-width: 540px;
  align-items: center;
}

.container2 {
  display: grid;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #dfd2f0;
  text-align: center;
  padding: 30px 20px;
  margin-top: 24px;
  margin-left: 5%;
  margin-right: 10%;
  min-width: 540px;
  max-width: 540px;

  align-items: center;
}

select {
  border-color: none;
  border-style: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: #424874;
  min-height: 36px;
}

.Button {
  align-items: center;
  appearance: none;
  border-radius: 10px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0 2px 2px 0,
    rgba(0, 0, 0, 0.12) 0 1px 5px 0;
  box-sizing: border-box;
  color: #fff;
  background-color: #424874;
  cursor: pointer;
  display: inline-flex;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  letter-spacing: 0.0892857em;
  line-height: normal;
  min-width: 112px;
  outline: none;
  overflow: visible;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  will-change: transform, opacity;
}

.Button:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px -1px, rgba(0, 0, 0, 0.14) 0 4px 5px 0,
    rgba(0, 0, 0, 0.12) 0 1px 10px 0;
  color: #a6b1e1;
  background-color: #424874;
}
